*{

    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

.wrapper{
    background-color:#e3e5ec;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


   



.heading-container{
    display: flex;
    justify-content: space-between;

}

.darkBtn-container{
    display: flex;
    justify-content: center;
    align-items: center;
}


.heading{
    font-size: larger;
    color: rgb(0, 0, 0);
    font-family:'Times New Roman', Times, serif;
}

.drk-text{
    font-size: small;
    font-weight: bold;
    margin-right: 10px;
}

.searchBoxContainer{
    width: 95%;
    height: 30px;
    display: flex;
    background-color: #fefefe;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    margin-top: 1rem;
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);

}


#SearchBox{
    width: 100%;
    height: 100%;
    appearance: none;
    outline: none;
    border: 1px solid white;
    margin-left: 10px;
}


#SearchBtn{
    height: 2rem;
    width: 7rem;
    background-color: rgb(68, 126, 225);
    border-radius: 5px;
    border: rgb(68, 126, 225);
    color: white;
    font-weight: bold;
    cursor: pointer;
}


.infoBox{
    display: flex;
    /* justify-content: space-between; */
    background-color: #fefefe;
    margin-top: 0.9rem;
    border-radius: 1rem;
    padding-right: 28px;
    width: 450px;
    height: 320px;
    opacity: 0;

}

.infoBox.active{
    opacity: 1;
}

.innerInfoBox{
    width: 80%;
    height: 100%;
}


#profile-Img{
    padding: 1.75rem ;
    border-radius: 50%;
}

.name-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.name{
    font-size: 1.2rem;
}

.doj{
    font-size: 0.75rem;
    font-weight: bold;
    padding: 0.5rem 1.25rem;
    color:black
}

.plink{
    color: rgb(70, 134, 224);
    font-size: 0.8rem;
    font-weight: bold;
    
}

.bio{
    font-size: 0.8rem;
    margin: 1rem 0rem;
    width: 90%;
    line-height:1.2rem;
}

.detail-box{
    width: 90%;
   
    display:flex;
    justify-content: space-between;
    background-color: #dee2e6;
    padding: 1rem;
    border-radius: 10px;
    font-weight: bold;
    
}

.repo-lab{
    font-size: 0.7rem;
    margin-bottom: 10px;
}

.repo-box {
    margin-top: 5px;
}
.follower-box{
    margin-top: 5px;
    
}
.following-box{
    margin-top: 5px;

}

.other-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.address-box,.blog-box,.twitter-box,.company-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    font-size: 0.7rem;
}

.blog-box,.company-box{
    margin-bottom: 1rem;
}

.twitter-box img{
    margin-right: 12px;
}

.blog-box img{
    margin-right: 12px;
}

.darkButton{
    
}